<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePack" version="1.4.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>