trigger:
  branches:
    include: ["master", "v1.8", "*_validate"]
  paths:
    exclude: ["doc", "*.md"]

variables:
  TreatWarningsAsErrors: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  BuildConfiguration: Release
  BuildPlatform: Any CPU

resources:
  containers:
  - container: unity
    image: gableroux/unity3d:2018.3.11f1-windows

jobs:
- job: Windows
  pool: Hosted VS2017
  steps:
  - template: azure-pipelines/build.yml

- job: Unity
  pool:
    name: Default
    demands: unity
#  container: unity
  steps:
  - template: azure-pipelines/build_unity.yml
