<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="vside-devcore" value="https://vside.myget.org/F/devcore/api/v3/index.json" protocolVersion="3" />
    <add key="myget.org msbuild nightly" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
