<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
    </packageRestore>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="nuget.org v2" value="https://nuget.org/api/v2/" />
        <add key="myget.org roslyn nightly" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
        <add key="myget.org msbuild nightly" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" />
    </packageSources>
</configuration>
