<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NET.StringTools" version="17.10.4" manuallyInstalled="true" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Collections.Immutable" version="7.0.0" manuallyInstalled="true" />
  <package id="System.Memory" version="4.5.5" />
  <package id="System.Numerics.Vectors" version="4.4.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
</packages>