<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" manuallyInstalled="true" />
  <package id="Microsoft.NET.StringTools" version="17.6.3" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="6.0.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
</packages>